* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.main-card {
  padding: 15px;
  background: #191923;
  width: 100vw;
  height: 100%;
  position: relative;
}

.inner-card {
  max-width: 1540px;
  margin-left: auto;
  margin-right: auto;
  background: #1e1e28;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
  box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
}

.info-bar {
  background: #20202a;
  width: 290px;
  min-width: 290px;
  height: calc(100vh -  30px )!important;
  position: relative !important;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
  box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
  -webkit-transition: 0.55s ease-in-out;
  transition: 0.55s ease-in-out;
}

.info-bar .header {
  z-index: 5;
  width: 100%;
  position: relative;
  padding: 30px;
  height: 235px;
  background: linear-gradient(
    159deg,
    rgba(37, 37, 50, 0.98) 0,
    rgba(35, 35, 45, 0.98) 100%
  );
  text-align: center;
  -webkit-box-shadow: 0 1px 4px 0 rgb(15 15 20 / 10%);
  box-shadow: 0 1px 4px 0 rgb(15 15 20 / 10%);
}

.info-bar .header .avatar {
  position: relative;
  width: 90px;
  height: 90px;
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 15px;
}

.info-bar .header .avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}

.info-bar .header .avatar .lamp-light {
  position: absolute;
  bottom: 3px;
  right: 5px;
  height: 14px;
  width: 14px;
  background: #ffc107;
  border-radius: 50%;
  z-index: 0;
  transition: 0.4s ease-in-out;
}

.info-bar .header .avatar .lamp-light::before {
  content: "";
  position: absolute;
  bottom: -1px;
  right: -1px;
  height: 17px;
  width: 17px;
  background: #ffc107;
  border-radius: 50%;
  z-index: 0;
  animation: animateLoader38 2s ease-out infinite;
}

@keyframes animateLoader38 {
  0% {
    transform: scale(1);
  }

  50%,
  75% {
    transform: scale(1.3);
  }

  80%,
  100% {
    opacity: 0;
  }
}

.info-bar .header .name {
  font-size: 14px;
  font-weight: 400;
}

.info-mainsec {
  position: absolute;
  width: 100%;
  height: calc(100vh - 30px);
  padding: 240px 30px 50px;
  overflow-y: scroll;
  top: 0px;
  z-index: 3;
}

.info-mainsec ul {
  padding: 0;
  margin: 0;
}

.info-mainsec ul li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 5px;
}

.info-mainsec ul li h6 {
  font-size: 15px;
  color: #fff;
  line-height: 1.7;
  margin-bottom: 0%;
}

.info-mainsec ul li span {
  text-align: right;
  line-height: 1.7;
  color: #8c8c8e;
}

.divider {
  background: #8c8c8e;
  width: 100%;
  height: 1px;
  opacity: 0.3;
  margin: 15px 0px;
}

.lang-skills {
  padding-bottom: 15px;
}

.lang-skills-item div {
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 13px;
  margin-bottom: 10px;
  color: #cacace !important;
  border: 5px solid #ffc107;
}

.lang-skills-item h6 {
  color: #cacace;
  font-size: 13px;
  margin-bottom: 0px;
  text-align: center;
}

.coad-lang-skills-item {
  margin-bottom: 15px;
}

.coad-lang-skills-item h5,
span {
  color: #cacace;
  font-size: 13px;
}

.progress {
  background: #191923;
}

.progress-bar {
  background: #ffc107;
}

.info-mainsec::-webkit-scrollbar {
  width: 0px;
}

.fremwork-skills li {
  gap: 10px;
  align-items: center;
  justify-content: flex-start !important;
}

.fremwork-skills i {
  font-size: 15px;
  color: #ffc107;
}

.info-footer {
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: absolute;
  bottom: 0%;
  padding: 0 35px;
  height: 50px;
  width: 100%;
  background: linear-gradient(159deg, #252532 0, #23232d 100%);
  -webkit-box-shadow: 0 1px 4px 0 rgb(15 15 20 / 10%);
  box-shadow: 0 1px 4px 0 rgb(15 15 20 / 10%);
}

.info-footer a,
i {
  color: #8c8c8e;
}

.menu-bar {
  position: absolute;
  padding-left: 290px;
  left: 0%;
  top: 0;
  width: 100%;
  height: calc(100vh - 30px);
  overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
  width: 0px;
}

.banner-img {
  background-image: url("../img/bg.jpg");
  width: 100%;
  background-position: center;
  padding: 30px;
  background-size: cover;
}

.banner-section {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 60px 60px 0px;
  width: 100%;
  box-shadow: 0 1px 4px 0 rgb(15 15 20 / 10%);
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(15%, rgba(45, 45, 58, 0.9)),
    color-stop(50%, rgba(45, 45, 58, 0.7)),
    to(rgba(43, 43, 53, 0.7))
  );
  background-image: linear-gradient(
    90deg,
    rgba(45, 45, 58, 0.9) 15%,
    rgba(45, 45, 58, 0.7) 50%,
    rgba(43, 43, 53, 0.7) 100%
  );
}

.banner-photo {
  max-width: 360px;
  margin-top: -90px;
}

.banner-section h1 {
  font-size: 42px;
  color: #fff;
  font-weight: 800;
  word-wrap: break-word;
}

.code {
  color: #ffc107;
}

.lg-text span {
  font-size: 16px;
  font-family: "Courier Prime", monospace;
  color: #fafafc;
}

.wrapper {
  margin-top: 10px;
  display: inline-flex;
}

.wrapper .dynamic-txts {
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  padding-left: 5px;
}

.dynamic-txts li {
  color: pink;
  list-style: none;
  font-size: 16px;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}

@keyframes slide {
  100% {
    top: -80px;
  }
}

.dynamic-txts li span {
  position: relative;
}

.dynamic-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
  font-size: 18px;
  line-height: 20px;
  font-family: "Poppins", sans-serif;
  color: #fafafc;
  margin-bottom: 0px;
  background: #252532;
  border-left: 2px solid #fff;
  animation: typing 3s steps(20) infinite;
}

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -10px 0 10px;
  }
}

.explore-btn {
  height: 45px;
  width: max-content;
  font-size: 12px;
  letter-spacing: 1.5px;
  font-weight: 600;
  padding: 0 35px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #20202a;
  margin-top: 23px;
  margin-bottom: 60px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  background-color: #ffc107;
}

.explore-btn:hover {
  transform: translateY(-3px);
  color: #1e1e28;
}

.sec_card {
  padding: 0px 30px;
}

.sec_card .title {
  padding: 30px 0px;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 0px;
  color: #fff;
}

.sec_card .row .card {
  border-radius: 0%;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
  box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
  background: linear-gradient(159deg, #2d2d3a 0, #2b2b35 100%);
}

.sec_card .row .card .card-body {
  padding: 30px;
}

.sec_card .row .card h6 {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 15px;
}

.sec_card .row .card p {
  font-size: 13px;
  line-height: 1.7;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0.25px;
  color: #8c8c8e;
  margin-bottom: 15px;
}

.sec_card .row .card a {
  position: relative;
  padding-right: 15px;
  text-decoration: none;
  letter-spacing: 1.5px;
  font-weight: 600;
  margin-bottom: 10px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.sec_card .card a span {
  color: #ffc107;
}

.sec_card .card a i {
  position: absolute;
  top: 4px;
  right: 2px;
  color: #ffc107;
  font-size: 16px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.sec_card .card a:hover {
  text-shadow: 0 0 3px rgb(250 250 252 / 40%);
}

.sec_card .card a:hover i {
  transform: translateX(5px);
}

.sec_card .Portfolio .card {
  position: relative;
  width: 100%;
}

.sec_card .Portfolio .image {
  display: block;
  width: 100%;
  height: 300px;
  background-size: cover;
  object-fit: cover;
}

.sec_card .Portfolio .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 0%;
  transition: 0.5s ease;
  background: linear-gradient(
    159deg,
    rgba(45, 45, 58, 0.98) 0,
    rgba(43, 43, 53, 0.98) 100%
  );
  -webkit-box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
  box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
}

.sec_card .Portfolio .card:hover .overlay {
  height: 30%;
}

.sec_card .Portfolio .text {
  color: white;
  font-size: 20px;
  position: absolute;
  text-align: left;
  letter-spacing: 1.2;
  top: 50%;
  left: 85px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.sec_card .card .text a i {
  top: 9px;
}

.form-field {
  position: relative;
  margin-bottom: 30px;
}

.form-field input,
.form-field textarea {
  height: 50px;
  width: 100%;
  background: linear-gradient(159deg, #252532 0%, #23232d 100%);
  border: none;
  color: #fafafc;
  padding-left: 65px;
  padding-right: 15px;
  -webkit-box-shadow: inset 0 1px 4px 0 rgb(15 15 20 / 10%);
  box-shadow: inset 0 1px 4px 0 rgb(15 15 20 / 10%);
  margin-bottom: 0;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.form-field .input:focus {
  outline: none;
}

.form-field label {
  text-align: center;
  color: #8c8c8e;
  position: absolute;
  height: 50px;
  width: 50px;
  background: #20202a;
  top: 0;
  left: 0;
  padding: 0 15px;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 50px;
  letter-spacing: 1px;
  font-weight: 500;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  cursor: text;
}

.input:focus + label {
  background: #ffc107;
  color: #20202a;
}

.input:focus + label .fas {
  color: #20202a;
}

.form-field textarea {
  padding-left: 15px;
  padding-top: 15px;
  height: 150px;
  border-left: solid 50px #20202a;
}

.form-field #message {
  height: 150px;
}

form .btn-submit {
  height: 45px;
  width: max-content;
  font-size: 12px;
  letter-spacing: 1.5px;
  font-weight: 600;
  padding: 0 35px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  background-color: #ffc107;
  border: none;
}

form .btn-submit span {
  color: #20202a;
}

form .btn-submit:hover {
  transform: translateY(-3px);
}

form .btn-submit:hover span {
  color: #1e1e28;
}

.px-30 {
  padding: 0px 30px;
}

.slider-button {
  position: absolute;
  right: 35px;
  margin-top: -15px;
}

.slick-arrow {
  display: none !important;
}

.slick-dots {
  margin-left: 20px !important;
  display: flex !important;
  width: 180px !important;
}

.slick-dots li {
  width: auto !important;
  height: auto !important;
}

.slick-dots li button {
  width: 8px !important;
  height: 4px !important;
  border-radius: 4px;
  padding: 0px !important;
  background: #8c8c8e !important;
  transition: all 0.3s ease;
}

.slick-dots li button::before {
  content: '' !important;
  width: 0px !important;
  height: 0px !important;
}

.slick-dots li.slick-active button {
  width: 20px !important;
  height: 4px !important;
  background: #ffc107 !important;
}

#prev,
#next {
  background: none;
  border: none;
  color: #8c8c8e;
  font-size: 14px;
}

@media (max-width: 767.98px) {
  .main-card {
    width: 100%;
  }
  .menu-bar {
    padding-left: 0px;
    position: relative;
    height: 100%;
  }

  .info-bar {
    width: 100%;
  }
  .sec_card .Portfolio .image {
    height: 200px;
  }
  .info-footer {
    gap: 45px;
  }
  .banner-section {
    padding: 30px 30px 0px;
  }
  .sec_card .row .card .card-body {
    padding: 15px;
  }
}
